i{
    margin-right: 5px;
    color: rgb(243, 237, 237);
    
}
.cv{

    margin-top: 100px;
    margin-bottom: 80px;
    width: 100% ;      /* grâce à width 100% et height 100%, c'est responsive ! */
    height: 100%;     
    position: absolute; 

}
/* img {
    width: 80px; /* Set the desired width of your logo */
/*  height: auto; /* Automatically adjust the height to maintain aspect ratio */
/* margin-right: 10px; /* Add space to the right of the logo */
/*
}
/*
.image-crop {
    width: 100px; /* Set the desired width of the cropped image */
/*  height: 100px; /* Set the desired height of the cropped image */
/*  background-image: url('C:\Users\ucfu1\Downloads\Snapchat-1620362423.jpg');
    background-size: cover;
    background-position: center;
    /* Optional: You can add a border-radius to make the image circular or rounded */
/*border-radius: 70%;
  }*/
/*