$color_1: #fff;
$color_2: #ffffff;
$color_3: #f9f9f9;
$font-family_1: Arial, sans-serif;
$background-color_1: #e5e5e5;
$background-color_2: #f9f9f9;
$background-color_3: #133;
$background-color_4: #fff;
$background-color_5: #2e2424;
$background-color_6: #333;

/* Style des éléments de la grille */
/*@media screen and (max-width: 767px) {

      /* Règles pour les écrans étroits avec une largeur maximale de 767 pixels */
/* .grid-container {
            grid-template-columns: 1fr;
            /* Définit une seule colonne pour les écrans étroits */
/*   }

    /*  .grid-item {
            background-color: red;
            /* Couleur de fond des éléments de la grille pour les écrans
      étroits */
/*  }/*
} */
.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 20px;
}
.item {
	background-color: $background-color_1;
	padding: 20px;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 10px;
}
.grid-item {
	background-color: $background-color_1;
	padding: 20px;
	text-align: center;
}
body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-gap: 20px;
	min-height: 100vh;
	margin: 0;
	padding: 20px;
	font-family: $font-family_1;
	background-color: $background-color_2;
}
header {
	grid-column: 1 / -1;
	padding: 20px;
	background-color: $background-color_3;
	color: $color_1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: solid;
	h1 {
		margin: 0;
	}
}
nav {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		text-decoration: wavy;
		li {
			margin-right: 10px;
			a {
				text-decoration: wavy;
				color: $color_2;
			}
		}
	}
}
.main-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	grid-template-columns: 1fr;
}
.article {
	display: grid;
	grid-template-columns: 1fr;
	padding: 20px;
	background-color: $background-color_4;
	grid-template-columns: 1fr;
}
article {
	h2 {
		margin: 0;
	}
	p {
		margin-bottom: 20px;
	}
}
.sidebar {
	padding: 20px;
	background-color: $background-color_5;
	color: $color_3;
	grid-template-columns: 1fr;
	h3 {
		margin: 0 0 10px;
	}
}
footer {
	grid-column: 1 / -1;
	padding: 20px;
	background-color: $background-color_6;
	color: $color_1;
	text-align: center;
}
